extends layout

block content
  h1
    u Admin Panel
  br

  h2 Blog Options
  ul
    li
      a(href="#") add entry
    li
      a(href="#") remove entry
  br

  h2 Past Project Options
  ul
    li
      a(href="#") add past project
    li
      a(href="#") remove pass project
  br
  br

  a(href="/login/log-out") Log Out
