extends layout

block content
  h1
    u Admin Panel
  br

  h2 Blog Options
  ul
    li
      a(href="/blog/add-blog-entry") add entry
    li
      a(href="/blog/") edit blog entry
    li
      a(href="/login/remove-blog-entry") remove entry
  br

  h2 Past Project Options
  ul
    li
      a(href="/login/add-past-project") add past project
    li
      a(href="#") edit past project
    li
      a(href="/login/remove-past-project") remove pass project
  br
  br

  a(href="/login/log-out") Log Out
