extends layout

block content
  - for (var c = 0; c < entries.length; c++)
    div(class="entryitem")
      p
        a(href="#")
          b #{entries[c].title}
        | : #{entries[c].data}
        |
      small date: #{entries[c].date}
