extends layout

block content
  img(src="/images/homephoto.jpg", id="homephoto")
  h1= title
  p
    | This is the website for Warren Freelance.
  a(href="/blog") blog here
  br
  a(href="https://www.linkedin.com/in/peyton-warren-ab9a40156/" target="_blank")
    img(src="/images/linkedin-icon.jpeg", class="icon")
  a(href="https://github.com/pwarren97" target="_blank")
    img(src="/images/github-icon.jpeg", class="icon")
