extends layout

block content
  img(src="/images/homephoto.jpg", id="homephoto")
  h1 Welcome to My Personal Website
  p= "I first got started in programming and IT work back in high school. I spent many hours teaching myself to code outside of high school and doing IT work for people in my neighborhood and hometown. If you want to see some of my recent projects, try my "
    a(href="https://github.com/pwarren97")= "github"
    | .
  p
    | Since then, I have graduated from the University of Memphis with a
    | Bachelors in Computer Science with a concentration in Cyber Security,
    | and have spent two years as a student research assistant for the center
    | for information assurance (CfIA) under the University of Memphis.

  a(href="/blog") See my blog
