extends layout

block content
  img(src="/images/homephoto.jpg", id="homephoto")
  h1= title
  p
    | This is the website for Warren Freelance.
  a(href="/blog") blog here
  br

  br
  p sdf
  p sdf
  p sdf
  p sdf
  p sdf
  p sdf
