doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    header
      nav(class="navbar")
        button(class="navbutton", href="/") Home
        button(class="navbutton", href="#") Past Projects
        button(class="navbutton", href="#") Blog
        button(class="navbutton", href="#") Hire Me
  body
    div(class="content")
      block content
