doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    header
      nav(class="navbar")
        button(class="navbutton") Home
        button(class="navbutton") Past Projects
        button(class="navbutton") Blog
  body
    div(class="content")
      block content
