doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    header
      nav(class="navbar")
        a(class="navbutton", href="/", type="button") Home
        a(class="navbutton", href="#") Past Projects
        a(class="navbutton", href="/blog") Blog
        a(class="navbutton", href="#") Hire Me
    div(class="content")
      block content
