doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    header
      nav(class="navbar")
        a(class="navbutton", href="/", type="button") Home
        a(class="navbutton", href="#") Past Projects
        a(class="navbutton", href="/blog") Blog
        a(class="navbutton", href="#") Hire Me
    div(class="content")
      block content

      footer(class="footer")
        hr
        div
          a(href="https://www.linkedin.com/in/peyton-warren-ab9a40156/" target="_blank")
          img(src="/images/linkedin-icon.jpeg", class="icon")
          a(href="https://github.com/pwarren97" target="_blank")
          img(src="/images/github-icon.jpeg", class="icon")
        p Warren Freelance Software Development LLC
        p
          | Email:&nbsp;
          a(href="mailto: pwarren97@gmail.com") pwarren97@gmail.com
        p Phone: 555-555-5555
