body {
  margin: 0;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/bench-gazebo-background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: #00B7FF;
}

small {
  font-size: 12.5px;
  color: #119;
}

.navbar {
  margin: 0%;
  /* background-color: #444; */
  background-image: linear-gradient(#494949, #444);
  padding: 0.5em 15%;
  height: 2em;
  box-shadow: 0 0.1em 0.5em #111;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbutton {
  border-radius: 0.25em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  /* background-color: #ccc; */
  background-image: linear-gradient(#eee, #bbb);
  padding: 0.5em 1em;
  color: black;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0.1em 0.1em #333;
}

.navbutton:active {
  background-image: linear-gradient(#bbb, #eee);
}

.content {
  padding: 3em;
  margin: 5em 15%;
  padding-bottom: 0.4em;
  background-color: #f2f2f2;
  box-shadow: 0 0.25em 0 #ccc;
  border-radius: 0.25em;
  font-family: 'Tahoma';
}

.icon {
  height: 24px;
  width: 24px;
  margin: 0.2em;
  margin-left: 0;
}

.entryitem {
  border-style: solid;
  border-color: #f3e5ab;
  border-width: 0.05em;
  border-radius: 0.5em;
  box-shadow: 0 0.1em 0.1em gray;
  margin-bottom: 1em;
  padding: 1em;
  background-color: #fdfaee;
}

.entryitem p {
  margin: 0em;
}

.entryitem a {
  color: black;
}

#homephoto {
  width: 10em;
  box-shadow: 0 0 0.25em #ccc;
}

.loginform {
  text-align: center;
}

.footer {
  width: 100%;
  margin-top: 3em;
  margin-bottom: 0.5em;
}

.footer hr {
  opacity: 0.3;
}

.footer p {
  margin: 0;
  padding: 0;
  font: 0.75em "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #999;
}

.footer div {
  float: right;
}
/* .imagebox {
  width:
  display: flex;
  background-color: gray;
  box-shadow: 0 0 0.25em gray;
  padding: 0.5em 0.5em;
} */
