body {
  margin: 0px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  margin: 0px;
  background-color: #555;
  padding: 0.5em 15%;
  box-shadow: 0 0.25em 0.25em #ccc;
  display: flex;
}


.navbutton {
  margin-left: 0.5em;
  margin-right: 0.5em;
  height: 2.5em;
}

.content {
  margin: 3em 15%;
  padding: 3em;
  background-color: #f2f2f2;
  box-shadow: 0 0.25em 0.25em #ccc;
  border-radius: 0.25em;
}

#homephoto {
  width: 10em;
  box-shadow: 0 0 0.25em #ccc;
}

/* .imagebox {
  width:
  display: flex;
  background-color: gray;
  box-shadow: 0 0 0.25em gray;
  padding: 0.5em 0.5em;
} */
