@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Blog";

	var EntryTitle = "Blog Heading";
	var EntryBody = "Body";
	int NumOfEntries = 5;
}

<div style="margin-top: 3em">
	<h1 class="display-4 text-center" style="margin-bottom: 1em">Personal Blog</h1>

	<div class="container">
	@for (int i = 0; i < NumOfEntries; i++)
	{
		<div class="row jumbotron">
			<div class="col-md-12">
				<h1>@EntryTitle</h1>
				<p>@EntryBody</p>
			</div>
		</div>
	}
	</div>
</div>